.FooterNote img{
    position: relative;
    top: 10px;
}

.footersection{
    text-align: center;
}

p.love{
    margin-bottom: 0;
}

p.powered{
    margin-top: 0;
}

.love img{
    width: 30px;
}

.powered img{
    width:30px
}